<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteLog "/tmp/rewrite.log"
    #RewriteLogLevel 9

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/(.*)$ service.php?board=$1&ply=$2 [QSA,NC,L]
</IfModule>
